body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    /* background-image: linear-gradient(to bottom right, red, yellow); */

    background: linear-gradient(
        to right, #833ab4,
        #fd1d1d, #fcb045); 
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

h1 {
    border: 1 solid black;
    background-color: white;
    height:35px;
    width: 200px;
    border-radius: 25px;
    justify-content: center;
    margin:auto;
}

#scoreBoard {
    border: 1 solid black;
    font-weight: bold;
    height:25px;
    width: 200px;
    border-radius: 25px;
    justify-content: center;
    margin:auto;
    text-align: center;
    padding: 0.5em;
    border-radius: 20px;
    background-color: white;
}

#btn {
    margin: auto;
    padding: 0.5em;
}

.restart-btn {
    border: 1 solid black;
    margin: auto;
    padding: 0.5em;
    border-radius: 20px;
}